<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Shamelessly.co | From shame to fame</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/public/css/normalize.css">
        <link rel="stylesheet" href="/public/css/bootstrap.min.css">
        <link rel="stylesheet" href="/public/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="/public/css/main.css">

        <script src="/public/js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body class="">
        <!--[if lt IE 8]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <section class="container">
            <section class="row row-top">
                <div class="col-md-12">
                    <div>
                        <a href="http://shamelessly.co">
                            <h1 class="logo">Shamelessly.co</h1>
                        </a>
                        <div class="signup" data-toggle="modal" data-target="#signup-modal">
                            Sign up
                        </div>
                    </div>
                    <section class="jombo">
                        <h2>Customer Support Sucks?</h2>
                        <p>You #shout.</br>We get it public.</br>They have to fix it. Fast.</p>
                        <div class="shame">
                            <p class="title">Wall of shame</p>
                            <div class="shame-container"></div>
                        </div>
                    </section>

                </div>
            </section>
	
            <div class="row">
                <div class="col-md-12">
                    <div class="feature">
                        
                    </div>
                </div>
            </div>
          
            <!-- <div class="row">

            


            <div class="row">
                <div class="col-md-12">
                    <div class="feature">
                        Feature
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="cta-bottom">
                        CTA
                    </div>
                </div>
            </div> -->

            <div class="row">
                <div class="col-md-12">
                   <div class="cta">
                    <h2>Sign up to get your voice heard</h2>
                    <p>And get the best shout outs of the week.</p>
                    <form action="http://shamelessly.us3.list-manage.com/subscribe/post?u=05d89d6991852c5d2ffc4eed7&amp;id=ed97a1a090" method="post" id="mc-cta" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                          <input type="email" value="" name="EMAIL" class="form-control email" id="mce-EMAIL" placeholder="email address" required></input>
                         <input type="submit" value="Sign Up" name="subscribe" id="mc-embedded-subscribe" class="signup" style="display:inline-block;"/>
                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;">
                            <input type="text" name="b_05d89d6991852c5d2ffc4eed7_ed97a1a090" value="">
                        </div>
                    </form>
                   </div>
                </div>
            </div>
        </section>

        <div class="modal fade" id="signup-modal" tabindex="-1" role="dialog" aria-labelledby="Sign up" aria-hidden="true">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div id="mc_embed_signup">
                    <form action="http://shamelessly.us3.list-manage.com/subscribe/post?u=05d89d6991852c5d2ffc4eed7&amp;id=ed97a1a090" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                         <div class="input-group">
                          <input type="email" value="" name="EMAIL" class="form-control email" id="mce-EMAIL" placeholder="email address" required>
                          <span class="input-group-btn">
                            <input type="submit" value="Sign Up" name="subscribe" id="mc-embedded-subscribe" class="btn">
                          </span>
                        </div><!-- /input-group -->
                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;">
                            <input type="text" name="b_05d89d6991852c5d2ffc4eed7_ed97a1a090" value="">
                        </div>
                        
                    </form>
                </div>
            </div>
          </div>
        </div>
            
        <footer>
            Shamelessly.co - 2014 
        </footer>

        <script id="tweet-template" type="template">
          <a href="https://twitter.com/intent/tweet?text=RT%20@<%=user.screen_name%>:%20<% print(encodeURIComponent(text))%>&amp;original_referer=http%3A%2F%2Fshamelessly.co&amp;tw_i=<%=id_str%>&amp;tw_p=tweetembed" class="retweet-action web-intent icon-rt" title="Retweet" data-scribe="element:retweet" data-tw-params="true"
          target="_blank">
              <div class="victime">
                <img src="<%= user.profile_image_url %>"/>
              </div>
              <p><%=text%></p>
              <div class="btn">Shout it</div>
          </a>

        </script>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/public/js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
        <script src="/public/js/vendor/bootstrap.min.js"></script>
        <script src="/public/js/plugins.js"></script>
        <script src="/public/js/main.js"></script>
        <script src="/public/js/built.js"></script>

        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-47839596-1');ga('send','pageview');
        </script>
        <!-- begin olark code -->
        <script data-cfasync="false" type='text/javascript'>/*<![CDATA[*/window.olark||(function(c){var f=window,d=document,l=f.location.protocol=="https:"?"https:":"http:",z=c.name,r="load";var nt=function(){
        f[z]=function(){
        (a.s=a.s||[]).push(arguments)};var a=f[z]._={
        },q=c.methods.length;while(q--){(function(n){f[z][n]=function(){
        f[z]("call",n,arguments)}})(c.methods[q])}a.l=c.loader;a.i=nt;a.p={
        0:+new Date};a.P=function(u){
        a.p[u]=new Date-a.p[0]};function s(){
        a.P(r);f[z](r)}f.addEventListener?f.addEventListener(r,s,false):f.attachEvent("on"+r,s);var ld=function(){function p(hd){
        hd="head";return["<",hd,"></",hd,"><",i,' onl' + 'oad="var d=',g,";d.getElementsByTagName('head')[0].",j,"(d.",h,"('script')).",k,"='",l,"//",a.l,"'",'"',"></",i,">"].join("")}var i="body",m=d[i];if(!m){
        return setTimeout(ld,100)}a.P(1);var j="appendChild",h="createElement",k="src",n=d[h]("div"),v=n[j](d[h](z)),b=d[h]("iframe"),g="document",e="domain",o;n.style.display="none";m.insertBefore(n,m.firstChild).id=z;b.frameBorder="0";b.id=z+"-loader";if(/MSIE[ ]+6/.test(navigator.userAgent)){
        b.src="javascript:false"}b.allowTransparency="true";v[j](b);try{
        b.contentWindow[g].open()}catch(w){
        c[e]=d[e];o="javascript:var d="+g+".open();d.domain='"+d.domain+"';";b[k]=o+"void(0);"}try{
        var t=b.contentWindow[g];t.write(p());t.close()}catch(x){
        b[k]=o+'d.write("'+p().replace(/"/g,String.fromCharCode(92)+'"')+'");d.close();'}a.P(2)};ld()};nt()})({
        loader: "static.olark.com/jsclient/loader0.js",name:"olark",methods:["configure","extend","declare","identify"]});
        /* custom configuration goes here (www.olark.com/documentation) */
        olark.identify('5655-807-10-4947');/*]]>*/</script><noscript><a href="https://www.olark.com/site/5655-807-10-4947/contact" title="Contact us" target="_blank">Questions? Feedback?</a> powered by <a href="http://www.olark.com?welcome" title="Olark live chat software">Olark live chat software</a></noscript>
        <!-- end olark code -->
    </body>
</html>
