<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Shamelessly.co | From shame to fame</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/public/css/normalize.css">
        <link rel="stylesheet" href="/public/css/bootstrap.min.css">
        <link rel="stylesheet" href="/public/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="/public/css/main.css">

        <script src="/public/js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body class="">
        <!--[if lt IE 8]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <section class="container">
            <section class="row row-top">
                <div class="col-md-12">
                    <div>
                        <a href="http://shamelessly.co">
                            <h1 class="logo">Shamelessly.co</h1>
                        </a>
                        <div class="signup" data-toggle="modal" data-target="#signup-modal">
                            <a href="#" alt="sign up" >Sign up</a>
                        </div>
                    </div>
                    <section class="jombo">
                        <h2>Customer Support Sucks?</h2>
                        <p>You #shout.</br>We get it public.</br>They have to fix it. Fast.</p>
                        <div class="shame">
                            <p class="section-title">Wall of shame</p>
                            <div class="shame-container"></div>
                        </div>
                    </section>

                </div>
            </section>


            <div class="modal fade" id="signup-modal" tabindex="-1" role="dialog" aria-labelledby="Sign up" aria-hidden="true">
              <div class="modal-dialog modal-sm">
                <div class="modal-content">
                        <div id="mc_embed_signup">
                        <form action="http://shamelessly.us3.list-manage.com/subscribe/post?u=05d89d6991852c5d2ffc4eed7&amp;id=ed97a1a090" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                            <label for="mce-EMAIL">Subscribe to our mailing list</label>
                            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="position: absolute; left: -5000px;"><input type="text" name="b_05d89d6991852c5d2ffc4eed7_ed97a1a090" value=""></div>
                            <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                        </form>
                        </div>
                </div>
              </div>
            </div>


            <div class="row">
                <div class="col-md-12">
                    <div class="feature">
                        Feature
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="cta-bottom">
                        CTA
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                   <footer></footer>
                </div>
            </div>
        </section>

        
            

        <script id="tweet-template" type="template">
          <p>There is a tweet</p>
        </script>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/public/js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
        <script src="/public/js/vendor/bootstrap.min.js"></script>
        <script src="/public/js/plugins.js"></script>
        <script src="/public/js/main.js"></script>
        <script src="/public/js/built.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>
    </body>
</html>
